*.swp
*.pyc
*.py~
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

# visual studio stuff
*.pyproj
*.sln
/.vs/
/.vscode/

# mypy stuff
.mypy_cache/
baselines/ers/arith_test.py
baselines/ers/factored_ddpg_solver.py
scripts/arith_test.bat
scripts/arith_test.sh
scripts/ers_analyse.bat
scripts/ers_analyse.sh
scripts/car_racing.bat
scripts/car_racing_train.sh
